In [1]:
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import geopandas as gpd
import numpy as np
import requests
from bs4 import BeautifulSoup
plt.style.use('ggplot')
%matplotlib inline

In [2]:
!ls ../data/neighborhoods

cofo_data.csv                    median_rent_data.csv
crime_rate_data.csv              poverty_rate_data (1).csv
foreclosure_rate_data.csv        public_housing_data.csv
income_distribution_data (1).csv race_composition_data.csv

In [3]:
#neighborhood demographic data
income = pd.read_csv('../data/neighborhoods/income_distribution_data (1).csv')
crime_rate = pd.read_csv('../data/neighborhoods/crime_rate_data.csv')
median_rent = pd.read_csv('../data/neighborhoods/median_rent_data.csv')
poverty = pd.read_csv('../data/neighborhoods/poverty_rate_data (1).csv')
public_house = pd.read_csv('../data/neighborhoods/public_housing_data.csv')
race = pd.read_csv('../data/neighborhoods/race_composition_data.csv')
forclosure = pd.read_csv('../data/neighborhoods/foreclosure_rate_data.csv')

In [4]:
#districtmaps
nyc_m = gpd.read_file('../data/map.geojson')

In [59]:
income = income.rename(columns = {'year':'Year', '<= $20,000': 'less_than_20k', '$20,001 -\n$40,000': 'less_than_40_k', '$40,001 -\n$60,000': 'less_than_60k', '$60,001 -\n$100,000':'less_than_100k', '$100,001 -\n$250,000':'less_than_250k', '> $250,000': 'more_than_250k'})

In [72]:
def delete_dup(df, lst):
    df = df.drop(lst, axis=1)
    return df

In [91]:
for name, group in median_rent.groupby('Level')['Geography']:
    print(name)
    print(group)

Boro
1    BX
2    BK
3    MN
4    QN
5    SI
Name: Geography, dtype: object
City
0    NYC
Name: Geography, dtype: object
Community District
6     BX 01
7     BX 02
8     BX 03
9     BX 04
10    BX 05
11    BX 06
12    BX 07
13    BX 08
14    BX 09
15    BX 10
16    BX 11
17    BX 12
18    BK 01
19    BK 02
20    BK 03
21    BK 04
22    BK 05
23    BK 06
24    BK 07
25    BK 08
26    BK 09
27    BK 10
28    BK 11
29    BK 12
30    BK 13
31    BK 14
32    BK 15
33    BK 16
34    BK 17
35    BK 18
36    MN 01
37    MN 02
38    MN 03
39    MN 04
40    MN 05
41    MN 06
42    MN 07
43    MN 08
44    MN 09
45    MN 10
46    MN 11
47    MN 12
48    QN 01
49    QN 02
50    QN 03
51    QN 04
52    QN 05
53    QN 06
54    QN 07
55    QN 08
56    QN 09
57    QN 10
58    QN 11
59    QN 12
60    QN 13
61    QN 14
62    SI 01
63    SI 02
64    SI 03
Name: Geography, dtype: object