In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
nypd = pd.read_csv('nypd.csv')
nypd['Date'] = pd.to_datetime(nypd['OCCUR_DATE'])
nypd = nypd.drop('OCCUR_DATE', axis=1)

In [4]:
nypd[(nypd['BORO'] == 'MANHATTAN') & (nypd['STATISTICAL_MURDER_FLAG']==True)]

,INCIDENT_KEY,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat,Date
33,203348698,21:50:00,MANHATTAN,25,0.0,NaN,True,NaN,NaN,NaN,25-44,M,WHITE HISPANIC,999296,230862,40.800334,-73.945657,POINT (-73.94565697199994 40.800334261000046),2019-10-05
91,197660693,05:21:00,MANHATTAN,23,2.0,MULTI DWELL - PUBLIC HOUS,True,25-44,M,BLACK,25-44,M,BLACK,1000552,225907,40.786732,-73.941132,POINT (-73.94113246799998 40.78673189800003),2019-05-26
116,203980164,14:43:00,MANHATTAN,32,0.0,MULTI DWELL - APT BUILD,True,45-64,F,BLACK,65+,M,BLACK,1000565,234704,40.810877,-73.941064,POINT (-73.94106415099998 40.81087724100008),2019-10-18
163,198266990,02:21:00,MANHATTAN,30,0.0,NaN,True,18-24,M,BLACK,25-44,M,BLACK,998886,240181,40.825913,-73.947118,POINT (-73.94711752799998 40.825913006000064),2019-06-10
168,199728579,02:45:00,MANHATTAN,9,2.0,MULTI DWELL - PUBLIC HOUS,True,<18,M,BLACK,25-44,M,UNKNOWN,990311,201886,40.720813,-73.978136,POINT (-73.978135911 40.72081329800005),2019-07-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23367,209468786,02:30:00,MANHATTAN,25,0.0,NaN,True,<18,M,WHITE HISPANIC,25-44,M,BLACK,1039749,190809,40.690238,-73.799876,POINT (-73.79987605699995 40.69023761000005),2020-02-12
23368,209809344,19:05:00,MANHATTAN,23,2.0,MULTI DWELL - PUBLIC HOUS,True,NaN,NaN,NaN,25-44,M,WHITE HISPANIC,994561,177070,40.652695,-73.962842,POINT (-73.96284167499994 40.65269512700007),2020-02-19
23369,214948389,18:15:00,MANHATTAN,28,0.0,NaN,True,18-24,M,BLACK,25-44,M,BLACK,1018336,185095,40.674662,-73.877119,POINT (-73.87711855899995 40.67466236200005),2020-07-04
23469,211964520,19:48:00,MANHATTAN,23,2.0,MULTI DWELL - PUBLIC HOUS,True,25-44,M,BLACK,25-44,M,BLACK,1030064,262248,40.886374,-73.834312,POINT (-73.83431213299998 40.88637354300005),2020-04-11
23473,214948387,02:42:00,MANHATTAN,28,0.0,NaN,True,NaN,NaN,NaN,18-24,M,BLACK,995841,189513,40.686847,-73.958207,POINT (-73.95820729499997 40.68684680200005),2020-07-05

In [5]:
nypd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23568 entries, 0 to 23567
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   INCIDENT_KEY             23568 non-null  int64
 1   OCCUR_TIME               23568 non-null  object
 2   BORO                     23568 non-null  object
 3   PRECINCT                 23568 non-null  int64
 4   JURISDICTION_CODE        23566 non-null  float64
 5   LOCATION_DESC            9987 non-null   object
 6   STATISTICAL_MURDER_FLAG  23568 non-null  bool
 7   PERP_AGE_GROUP           15109 non-null  object
 8   PERP_SEX                 15143 non-null  object
 9   PERP_RACE                15143 non-null  object
 10  VIC_AGE_GROUP            23568 non-null  object
 11  VIC_SEX                  23568 non-null  object
 12  VIC_RACE                 23568 non-null  object
 13  X_COORD_CD               23568 non-null  object
 14  Y_COORD_CD               23568 non-null  object
 15  Latitude                 23568 non-null  float64
 16  Longitude                23568 non-null  float64
 17  Lon_Lat                  23568 non-null  object
 18  Date                     23568 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(3), int64(2), object(12)
memory usage: 3.3+ MB